*{
    margin: 0;
    padding: 0;
}

main{
    margin: 17px 155px;
    display: grid;
    grid-template-areas:
    "status-page status-page status-page status-page status-page"
    "draw-area draw-area draw-area draw-area option-area";
    background : rgba(239,139,45, 0.7);
}
/*** status for page start***/
.status-page{
    grid-area: status-page;
    padding: 44px 57px 0 57px;
}

.status-page-header{
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
}

.status-page-state{
    margin-top: 15px;
    margin-left: 4px;
    font-family: 'Gothic', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
/*** status for page end***/


/*** start draw area***/
.draw-area{
    grid-area: draw-area;
    border: 1px solid black;
}
/***end draw area ***/

/***start option area ***/
.option-area{
    grid-area: option-area;
    display: grid;
    grid-template-areas:
    "main-options"
    "additional-options";
    border: 1px solid black;
}

    /*** main options ***/
.main-options{
    width: 72%;
    margin: 0 auto;
    border: 1px solid black;
}

.main-options-header{
    color: #ffffff;
    font-family: 'Gothic', sans-serif;
    font-weight: normal;
}
.main-options-header_style_uppercase{
    text-transform: uppercase;
}


.main-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main-option-name  main-option-input";
    list-style: decimal;
    margin-top: 32px;
}

.main-option-name{
    grid-area: main-option-name;
    color: #ffffff;
    font-family: 'Century Gothic', sans-serif;
    font-size: 23px;
}
.main-option-input{
    grid-area: main-option-input;
}
    /*** end main options***/


/*** end option area ***/


